<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mg.shineglass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ChangePasswordPopUp"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Edit_details" />

        <activity
            android:name=".DeliveryBoyMainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetPassword"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Edit_details" />
        <activity
            android:name=".EditDetailsPopUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Edit_details" />
        <activity
            android:name=".ShineGlassSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginSignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/loginWindowBackgroundTheme" />
        <activity
            android:name=".Register_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Otp_Login_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTP_Acitvities.Register_OTP_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTP_Acitvities.Number_OTP_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTP_Acitvities.Google_Otp_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Google_Enter_Number"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTP_Acitvities.Save_Profile_Otp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewRequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Subcategory_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UploadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Edit_details" />
        <activity
            android:name=".Quotation_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".New_Address_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".My_Address_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".My_Account_Address_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".My_Account_New_Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Order_Confirmation_Activity"
            android:screenOrientation="portrait" />





        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBbkyU3NIHJV2HiMQXAh40FeO0XFsRkAZM" />
    </application>

</manifest>